/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.main {
    text-align: center;
    -webkit-animation: load-in 200ms linear;
            animation: load-in 200ms linear;
    height: var(--form-height);
}

.success-icon-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.success-icon{
    font-size: 3.3em;
    color: green;
    -webkit-animation-name: checkAnimation;
            animation-name: checkAnimation;
    -webkit-animation-duration: 500ms;
            animation-duration: 500ms;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}

.desc{
    font-size: 1.3em;
}

.backbtn{
    margin: 20px;
}

.data-table{
    margin: 20px 0px;
}

.emp-content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.col{
    text-align: left;
    padding: 10px;
}

.eye-icon {
    position: absolute;
    left: -14px;
    top: 13px;
    color: black;
    cursor: pointer;
}

#pswd_col{
    position: relative;
}

@-webkit-keyframes checkAnimation {
    0%{
        -webkit-transform: scale(2);
                transform: scale(2);
        opacity: 0;
    }

    50%{
        -webkit-transform: scale(0.5) rotate(-20deg);
                transform: scale(0.5) rotate(-20deg);
        opacity: 0.5;
    }

    100%{
        -webkit-transform: scale(1.0);
                transform: scale(1.0);
        opacity: 1;
    }
}

@keyframes checkAnimation {
    0%{
        -webkit-transform: scale(2);
                transform: scale(2);
        opacity: 0;
    }

    50%{
        -webkit-transform: scale(0.5) rotate(-20deg);
                transform: scale(0.5) rotate(-20deg);
        opacity: 0.5;
    }

    100%{
        -webkit-transform: scale(1.0);
                transform: scale(1.0);
        opacity: 1;
    }
}

@-webkit-keyframes load-in {
    0%{opacity: 0;}

    100%{opacity: 1;}
}

@keyframes load-in {
    0%{opacity: 0;}

    100%{opacity: 1;}
}