/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


/* Import custom Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root{
    --fetch-orange: #f49932;
    --form-height: 502px;
    --fetch-orange-hover:#da882c;
}

html, body {
    margin:0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    background-color: var(--fetch-orange)
}



.btn{
    margin: 0 auto;
    font-size: 1.4em;
    border: none;
    background: var(--fetch-orange);
    color: white;
    cursor: pointer;
    padding: 10px 30px;
    -webkit-transition: 100ms background linear;
    -o-transition: 100ms background linear;
    transition: 100ms background linear;
}

.btn:hover{
    background: var(--fetch-orange-hover)
}